@charset "ISO-8859-1";
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: calibri;
}

body{
/* 	width: 100%; */
/* 	height:520px; */
	background: url(../img/oficina.jpeg);
	background-size: cover;
}

.header{
	width: 100%;
	height:40px;
	background: #090909;
	position: fixed;
	opacity: 0.8;
}

.container2{
	max-width:1100px;
	margin: auto;
	
}
.logo{
	float:right;
	line-height:40px;
	
}
.menu{
	float: left;
	line-height:30px;
	
}
.menu ul{
	display: flex;
	list-style: none;
}
.menu a{
	background: #090909;
	display: block;
	padding: 0px 20px;
	text-decoration: none;
	color: white;
	transition: all 500ms ease;
}
.menu a:hover{
	background: #090909;
	color: white;
	opacity: 0.8;
	
}
/* .portada{ */
/* 	width: 100%; */
/* 	height:520px; */
/* 	background: url(../imagenes/oficina.jpg); */
/* 	background-size: cover; */
	
/* } */
.menu .submenu{
	background: white;
	box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
	display: none;	
}
.menu .submenu li a{
	line-height: 30px;
}

.menu ul li a:hover + ul, .menu .submenu:hover{
	display:block;
}

.container{
    background-color: #090909;
    border-radius: 10px;
    padding: 25px;
    margin-top: 150px;
}

#cuadro{
	margin: auto;
	margin-top: 170px;
	width: 900px;
	background: #696969;
	color: #ffffff;
	font-size: 16px;
	padding: 10px 10px 10px 10px;
	border-radius: 6px;
	
	
}